{{ form_start(form) }}
<div class="row mb-2">
    {{ form_label(form.nom, 'Nom :', { 'label_attr': {'class': 'cell-sm-6'} }) }}
    <div class="cell-sm-6">
        {{ form_row(form.nom) }}
    </div>
</div>
