{% extends 'base.html.twig' %}

{% block title %}Liste des sites{% endblock %}

{% block body %}
    <h1>Liste des sites</h1>

    <table class="table striped table-border mt-4"
           data-role="table"
           data-rows="5"
           data-rows-steps="5, 10, 30"
           data-show-activity="false"
           data-rownum="true"
           data-check="true"
           data-check-style="2"
           data-table-info-title="Afficher $1 à $2 de $3 entrées"
    >
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.nom }}</td>
                <td>
                    <a class="button info" title="Afficher site" href="{{ path('site_show', {'id': site.id}) }}"><span class="mif-eye mif-2x"></span></a>
                    <a class="button warning" title="Modifier site" href="{{ path('site_edit', {'id': site.id}) }}"><span class="mif-pencil mif-2x"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button success" href="{{ path('site_new') }}" title="Créer site"><span class="mif-plus mif-2x"></span></a>
{% endblock %}
