{% extends 'base.html.twig' %}

{% block title %}Création site{% endblock %}

{% block body %}
    <div class="cell-lg-4 offset-lg-4 cell-md-9 offset-md-2">
        <div class="p-4">
            <h4>Création site</h4>

            {{ include('site/_form.html.twig') }}

            <div class="row">
                <div class="cell">
                    <button class="button success"><span class="mif-floppy-disk mif-2x"></span></button>
                    {{ form_end(form) }}
                    <a class="button secondary" href="{{ path('site_index') }}"><span class="mif-arrow-left mif-2x"></span>&nbsp;&nbsp;Retour à la liste</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
