{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <div class="row">
        <div class="cell-4 offset-4">
            <div class="p-4">
                <h4>Site</h4>
                <form>
                    <div class="row mb-2">
                        <label class="cell-sm-6">Nom :</label>
                        <div class="cell-sm-6">
                            <p>{{ site.nom }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="cell">
                            <a class="button secondary" href="{{ path('site_index') }}"><span class="mif-arrow-left mif-2x"></span>&nbsp;&nbsp;Retour à la liste</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
