{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="h-vh-100">
        <form method="post" class="login-form p-6 mx-auto win-shadow">
            {% if error %}
                <div class="error-message mb-5">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="form-group">
                <label for="inputPseudo">Identifiant :</label>
                <input type="text"
                       placeholder="Pseudo"
                       value="{{ last_username }}"
                       data-role="input"
                       data-prepend="<span class='mif-user'></span>"
                       name="pseudo"
                       id="inputPseudo"
                       required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe :</label>
                <input type="password"
                       name="password"
                       data-role="input"
                       data-prepend="<span class='mif-key'></span>"
                       id="inputPassword"
                       placeholder="Mot de passe"
                       required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group mt-10">
                <label class="checkbox place-right transition-on">
                    <input type="checkbox" name="_remember_me" data-role="checkbox" data-caption="Se souvenir de moi">
                </label>
                <button class="button secondary">Connexion</button>
            </div>
            <div class="form-group">
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>

        </form>
    </div>
{% endblock %}
