{#TODO : style message de confirmation suppression #}

{#<form style="display: inline" method="post" action="{{ path('participant_delete', {'id': participant.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">#}
<form id="delete-form" style="display: inline" method="post" action="{{ path('participant_delete', {'id': participant.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant.id) }}">
    <button type="button" class="button alert" title="Supprimer utilisateur" onclick="deleteDialog('utilisateur', 'cet')"><span class="mif-user-minus mif-2x"></span></button>
</form>